.about-me {
  /* margin-top: 180px; */
}

.about-me > .container {
  width: calc(100% - 280px);
  max-width: 1080px;
  margin: auto;
  position: relative;
}

.avatar {
  position: relative;
  display: flex;
}

.about-intro {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-intro > h1 {
  font-size: 120px;
  position: relative;
  left: -88px;
  color: white;
  text-transform: uppercase;
}

.about-intro > p {
  font-size: 24px;
  width: 480px;
  max-width: 720px;
  color: #8989a3;
  opacity: 0.6;
}
