.header {
  display: flex;
  align-items: center;
}

.letter {
  text-transform: uppercase;
  margin: 0 1px;
  font-size: 40px;
  color: #96ffbc;
}

.cursor {
  width: 24px;
  height: 35px;
  background-color: #96ffbc;
  margin-left: 12px;
  margin-top: 4px;
}
