.navbar {
  min-width: 128px;
  position: relative;
}

.single-nav {
  height: 64px;
  width: 64px;
  border: 1px solid #363652;
  background-color: #222234;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.far-left {
  position: relative;
  /* left: -200px; */
  transition: all 800ms ease-in-out;
}

.hidden {
  left: 0;
  transition: all 800ms ease-in-out;
}

.single-nav-expanded {
  width: 144px;
  transition: width 250ms ease-in-out;
}

.single-nav-expanded-CONTACT {
  width: 166px;
  transition: width 250ms ease-in-out;
}

.single-nav-active {
  background-color: #96ffbc;
  transition: all 250ms ease-in-out;
}

.title-holder {
  position: absolute;
  left: 68px;
  display: flex;
  align-items: center;
  height: 100%;
}

.title-p {
  font-family: Bebas Neue;
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 28px;
}

.single-nav.single-nav-active .title {
  color: #181824;
}

.static {
  position: absolute;
  left: 16px;
  display: flex;
}

.footer-static {
  display: flex;
  align-items: center;
}

.hovered {
  fill: white !important;
}
