@media only screen and (max-width: 768px) {
  /* svgs nalt */
  .small-heptagon,
  .heptagon {
    left: 0;
  }

  .main-intro {
    margin-top: 48px;
  }

  .main#main {
    margin-left: -14px;
    position: relative;
    top: 24px;
    height: 1200px;
  }

  /* secila shkronje */
  .letter {
    font-size: 32px;
    z-index: 5;
  }

  /* cursori i terminalit */
  .cursor {
    width: 18px;
    height: 24px;
    margin-left: 6px;
    margin-top: 5px;
    z-index: 5;
  }

  /* Navbari permas */
  .navbar {
    position: absolute;
    /* display: none; */
  }

  .mobile-navbar {
    position: fixed;
    z-index: 9999999;
    left: 16px;
    bottom: 56px;
  }

  .far-left {
    left: -200px;
  }

  .left-sidebar-permanent {
    display: none;
  }

  .sidebar-conditional-rendered {
    position: fixed;
    bottom: 16px;
    left: 16px;
    width: 48px;
    height: 48px;
    background-color: #96ffbc;
    z-index: 999999 !important;

    /* border-radius: 50%; */
    cursor: pointer;
    transition: all 500ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  .hidden {
    left: 0px !important;
  }

  .three-dots {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  .vertical-burger {
    transform: rotate(90deg);
    transition: all 500ms ease-in-out;
  }

  .dot {
    width: 20px;
    height: 2px;
    background-color: #181824;
    margin: 2px 0;
    display: flex;
  }

  .static {
    left: 7px !important;
  }

  .contact-svg {
    left: 2px;
    position: relative;
  }

  .single-nav {
    width: 48px;
    height: 48px;
    z-index: 50;
  }

  /* emri mbiemrti bashke me p */
  .intro {
    margin-left: 0;
    position: relative;
    left: 0;
  }

  /* emri mbiemri */
  h1.title {
    font-size: 64px;
    line-height: 64px;
    width: 300px;
    left: 0;
  }

  p.description {
    width: 41%;
  }

  .border-left {
    /* margin-left: 24px; */
    margin-left: 0px;
    margin-top: 32px;
    height: 295px;
  }

  .square {
    margin-top: 290px;
  }

  .square:before {
    top: -291px;
    height: 297px;
  }

  /* vija skej paragrafit */
  .lines {
    left: -63.5px;
    left: -24px;
  }

  /* Slideshow */
  .check-out-my {
    left: -9px;
    font-size: 47px;
    width: 100%;
    top: -69px;
    color: white;
  }

  .work {
    left: 153px;
    top: -20px;
    font-size: 52px;
    color: #8989a3;
  }

  .slider#slider {
    margin-left: -15px;
  }

  .slide.slide--current {
    width: 320px !important;
    height: 200px !important;
    top: 0;
  }

  .slide__content {
    width: 100%;
    height: 68px;
    top: 116px;
  }

  .slide__headline {
    font-size: 24px;
  }

  p.role {
    font-size: 16px;
  }

  .slide-button {
    transform: scale(0.65);
    top: 5px;
    right: -10px;
  }

  .slide {
    top: 18px;
    height: 180px !important;
    width: 150px !important;
  }

  .slider__controls {
    left: 214px;
    top: -67px;
    width: auto;
  }

  .slider__controls .btn {
    --size: 44px;
    margin: 0 4px;
  }

  .rectangle-main {
    top: 1900px;
    left: -137px;
  }

  .vertical-two {
    left: 185px;
  }

  /* About section */
  .about-me#about {
    margin-top: 0;
  }

  .about-me > .container {
    width: auto;
  }

  img[alt="Shkëlqim"] {
    height: 335px;
    width: 270px;
  }

  .avatar {
    display: block;
  }

  .about-intro {
    margin-left: 40px;
    position: relative;
    top: -40px;
  }

  .about-intro > h1 {
    font-size: 64px;
    width: 300px;
  }

  .about-intro > p {
    font-size: 16px;
    width: 225px;
  }

  /* FOOTER */
  .Footer_socialMedias__1WN_7 {
    width: 100%;
    margin-left: 0;
  }

  .Footer_main__1-Yg- {
    display: block;
  }

  .Footer_heading__3Q4gG {
    visibility: hidden;
    /* font-size: 39px;
    font-size: 64px; */
  }

  .footer-single-nav {
    transform: scale(1);
  }

  .Footer_footer__3JTeg {
    margin-top: -40px;
    overflow: hidden;
    height: 255px;
  }

  p.title-p {
    display: none;
  }

  .scroll-to-about {
    height: 0;
    display: none;
  }
}
